.navbar {
  background: linear-gradient(90deg, #1c1c1c, #2c2c2c);
}

.btn-light {
  border-radius: 10px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.btn-light:hover {
  background-color: #0d6efd;
  color: white;
  transform: scale(1.05);
}

.active {
  background-color: #0d6efd !important;
  color: white !important;
}